h1 {
	text-align: center;
}

.tabla-centrada {
	margin-left: auto;
	margin-right: auto;
}

.tabla-datos th {
	background-color: grey;
}

.tabla-datos tr:nth-child(odd) td {
	background-color: lightgrey;
}

.tabla-datos tr:nth-child(even) td {
	background-color: darkgrey;
}

.tabla-datos a {
	color: black;
}