<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Beans -->
	<bean id="env" class="basico.Envoltorio">
		<constructor-arg index="0" value="Juan"/>
		<constructor-arg name="edad" value="30"/>
	</bean>
	
	<bean id="hm1" class="basico.HolaMundoImpl">
		<property name="envoltorio" ref="env"/>
	</bean>
	
	<bean id="hm2" class="basico.HelloWorldImpl" scope="prototype">
		<property name="envoltorio" ref="env"/>
	</bean>
</beans>